<h1>Listings#edit</h1>
<%= form_for(@listing,:html=>{:name=>"f",:onsubmit=>"return youtube_parser();"}) do |f| %>
	  <div class="form-group">
	  	<%= f.label :description %>
	    <%= f.text_field :description, class: "form-control" %>
	  </div>				  
	  <div class="form-group">
	  	<%= f.label :is_trial %>
	    <%= f.check_box :is_trial %>
	  </div>
		Video Url:<input type="text" id="listing_video_url">
	  <%= f.hidden_field :video_url, id: 'video_id' %>
	  <div class="form-group">
	  	<%= f.label :price %>
	    <%= f.number_field :price, class: "form-control" %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :platform %>
	    <%= f.text_field :platform, class: "form-control" %>
	  </div>
	  <div class="form-group">
	  	<label for="language_id">Select Language</label>
	    <%= f.select :language_id, @languages , class: "form-control" %>
	  </div>	  
      <%= f.submit "Submit" %>
<%  end %>


<script>

function youtube_parser(){
	var url = $('#listing_video_url').val();
    var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
    var match = url.match(regExp);
    if(match&&match[7].length==11){
    	$('#video_id').val('<iframe class= "embed-responsive-item" src="//www.youtube.com/embed/' + match[7] + '"></iframe>');
    	return true;
    } else { 
    	return false;
    }
}



</script>