<div id="search-results">
  	
  	<%= render "shared/navbar" %>

	<div id="search-filters">
		<%= form_tag(search_path, :method => "get", id: "search-filters", class:"form-inline") do %>
		        <%= select_tag :location, options_for_select(@locations), class: "form-control" %>
		        <%= select_tag :language_id, 
		        			options_for_select(@languages.collect{ |l| [l.name, l.id] }), 
		        			class: "form-control" %>			
	        <%= submit_tag "Search", class: "btn btn-filter" %>
        <% end %>
	</div>
	<div id="tutor-list">
		<div class="container">
			<% @results.each do |a| %>
				<div class="well well-lg">
					<%= image_tag "#{a.user.image}?type=large", class: "listing-avatar" %>
					<span class="name"><%= "#{a.user.first_name} #{a.user.last_name}" %></span><br>
					<%= truncate(a.description, length: 250) %><br>
					<span class="price-label">Price:</span><span class="price"><%= " #{a.price} $" %></span><br>
					<%= link_to "View Schedule", listing_path(a), class: "btn btn-schedule" %>
					<% if current_user %>
						<%= link_to "Send Message", '#', "data-toggle" => "modal", "data-target" => "#MessageModal#{a.user.id}",class: "btn btn-message" %>
						  <div id="MessageModal<%=a.user.id%>" class="auth-modal modal" role="dialog">
						    <div class="modal-dialog">

						      <!-- Modal content-->
						      <div class="modal-content"> 
						        <div class="modal-body">
						          <%= form_tag messages_path(to: a.user.id), method: :post do %>
						            <div class="form-group">
						              <%= label_tag 'message[subject]', 'Subject' %>
						              <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
						            </div>

						            <div class="form-group">
						              <%= label_tag 'message[body]', 'Message' %>
						              <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
						            </div>
						            <%= submit_tag 'Send', class: 'btn btn-primary' %>
						          <% end %>      
						        </div>
						        <a href="#" class="modal-close" data-dismiss="modal">X</a>
						      </div>
						    </div>
						  </div> <!-- MessageModal -->
					<% else %>
						<%= link_to "Send Message", '#', "data-toggle" => "modal", "data-target" => "#ModalSignUp",class: "btn btn-message" %>
					<% end %>			
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= will_paginate @results, renderer: BootstrapPagination::Rails %>
<%= render "shared/registration_modals" %>

