<div id="search-results">
  	
  	<%= render "shared/navbar" %>

	<div id="search-filters">
		<%= form_tag(search_path, :method => "get", id: "search-filters", class:"form-inline") do %>
		        <%= select_tag :location, options_for_select(@locations), class: "form-control" %>
		        <%= select_tag :language_id, 
		        			options_for_select(@languages.collect{ |l| [l.name, l.id] }), 
		        			class: "form-control" %>			
	        <%= submit_tag "Search", class: "btn btn-filter" %>
        <% end %>
	</div>
	<div id="tutor-list">
		<div class="container">
			<% @results.each do |a| %>
				<div class="well well-lg">
					<%= image_tag a.user.image %>
					<span class="name"><%= "#{a.user.first_name} #{a.user.last_name}" %></span><br>
					<%= truncate(a.description, length: 250) %><br>
					<span class="price-label">Price:</span><span class="price"><%= " #{a.price} $" %></span><br>
					<%= link_to "View Schedule", listing_path(a), class: "btn btn-schedule" %>
					<%= link_to "Send Message", '#', "data-toggle" => "modal", "data-target" => "#ModalSignUp",class: "btn btn-message" %>			
				</div>
			<% end %>
		</div>
	</div>
</div>

  <%= render "shared/registration_modals" %>

