<%= render "shared/navbar" %>
<div id="listings-show">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag @user.image, id: "user_image" %>
			</div>
			<div class="col-md-4">
				<span class="fullname"><%= "#{@user.first_name} #{@user.last_name}" %><br></span>
				<%= "Description: #{@listing.description}" %><br>
				<%= "Lives in: #{@user.location}" %><br>
			</div>
			<div class="col-md-4 booking">	
				<%= "Trial course available: #{@listing.is_trial}" %><br>
				<%= "Price: #{@listing.price} $" %><br>
				<%= "Platform: #{@listing.platform}" %><br>
				
				<% if current_user %>
				<%= link_to "Book Now", new_listing_appointment_path(@listing) ,class: "btn btn-success"  %>
				<%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @listing.user.id), method: 'post', class: "btn btn-success" %>
				<% else %>
				<%=  link_to "Book Now", '#', "data-toggle" => "modal", "data-target" => "#ModalSignUp",class: "btn btn-success" %>
				<%= link_to "Send Message", '#', "data-toggle" => "modal", "data-target" => "#ModalSignUp",class: "btn btn-success" %>
				<% end %>
				<br>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="embed-responsive embed-responsive-16by9">
		    		<iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
				</div>  
			</div>
		</div>
	</div> <!-- container -->
</div>  <!-- listings-show -->


  <%= render "shared/registration_modals" %>