<%= render "shared/navbar" %>
<div id="listings-show">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag @user.image, id: "user_image" %>
			</div>
			<div class="col-md-4">
				<span class="fullname"><%= "#{@user.first_name} #{@user.last_name} " %></span><span id="average_rating"></span> (<%= @user.reviews.count %>)<br>
				<%= "Description: #{@listing.description}" %><br>
				<%= "Lives in: #{@user.location}" %><br>
			</div>
			<div class="col-md-4 booking">	
				<%= "Trial course available: #{@listing.is_trial}" %><br>
				<%= "Price: #{@listing.price} $" %><br>
				<%= "Platform: #{@listing.platform}" %><br>
				
				<% if current_user %>
				<%= link_to "Book Now", new_listing_appointment_path(@listing) ,class: "btn btn-success"  %>
				<%= link_to "Send Message", '#', "data-toggle" => "modal", "data-target" => "#MessageModal",class: "btn btn-danger" %>
				  <div id="MessageModal" class="auth-modal modal" role="dialog">
				    <div class="modal-dialog">

				      <!-- Modal content-->
				      <div class="modal-content"> 
				        <div class="modal-body">
				          <%= form_tag messages_path(to: @user.id), method: :post do %>
				            <div class="form-group">
				              <%= label_tag 'message[subject]', 'Subject' %>
				              <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
				            </div>

				            <div class="form-group">
				              <%= label_tag 'message[body]', 'Message' %>
				              <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
				            </div>
				            <%= submit_tag 'Send', class: 'btn btn-primary' %>
				          <% end %>      
				        </div>
				        <a href="#" class="modal-close" data-dismiss="modal">X</a>
				      </div>
				    </div>
				  </div> <!-- MessageModal -->
				<% else %>
				<%=  link_to "Book Now", '#', "data-toggle" => "modal", "data-target" => "#ModalSignUp",class: "btn btn-success" %>
				<%= link_to "Send Message", '#', "data-toggle" => "modal", "data-target" => "#ModalSignUp",class: "btn btn-success" %>
				<% end %>
				<br>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="embed-responsive embed-responsive-16by9">
		    		<iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
				</div>  
			</div>
		</div>
	</div> <!-- container -->

	<div id='calendar'></div>

</div>  <!-- listings-show -->


  <%= render "shared/registration_modals" %>
<script>
	$('#average_rating').raty({
		path: '',
		readOnly: true,
		score: <%= @user.average_rating %>
	});
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

	    $('#calendar').fullCalendar({
	        defaultView: 'agendaWeek'
	    });
	    var newEvent = new Object();

		newEvent.title = "test";
		newEvent.start = '2016-03-26T06:00:00';
		newEvent.end = '2016-03-26T07:00:00';
		$('#calendar').fullCalendar( 'renderEvent', newEvent );

	});
</script>