<div class="container">
	<%= "#{@user.first_name} #{@user.last_name}" %><br>
	<%= "Description: #{@listing.description}" %><br>
	<%= "Price: #{@listing.price} $" %><br>
	<%= link_to "Send Message", '#', "data-toggle" => "modal", "data-target" => "#ModalSignUp",class: "btn btn-success" %><br>
	<%= "Trial course available: #{@listing.is_trial}" %><br>
	<%= "Platform: #{@listing.platform}" %><br>
	<%= "Lives in: #{@user.location}" %><br>
	<%= link_to "Book Now", new_listing_appointment_path(@listing) ,class: "btn btn-success" %><br>
</div>


  <%= render "shared/registration_modals" %>