<%= form_for([s, s.build_review], url: appointment_review_path(s), html: { method: :post }) do |f| %>
	<div class="form-group">
	<%= f.text_field :comment, class: "form-control", placeholder: "comment" %>
	</div>
	<div id="user_stars_<%=s.id%>"></div>				
	<div class="submit-application">
		  <%= f.submit "Submit", class: "btn btn-danger" %>  	
	</div>	  
<% end %>

<script>
	$('#user_stars_<%=s.id%>').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 1
	});
</script>