<%= render 'shared/navbar' %>
<div id="dashboard">
	


	
	<div class="container">
		<div class="row">
			<div id="leftbar" class="col-md-4">
				<div class="leftbar-header clearfix">
				 	<div class="userimage">
				 		<%= image_tag current_user.image, size: "120x120" %>
				 	</div>
				 	<h3> <%= current_user.first_name %></h3>
				 	<h5> <%= current_user.location %></h5>
				</div>
				<div class="navigation">
					<ul>	
						<% if current_user.type == "Teacher" %>
						<strong>Teaching Info</strong>
						<li data-content='my-listings'><div class="nav-item">My Listings</div></li>
						<li data-content='my-students'><div class="nav-item">My Students</div></li>
						<li data-content='payout'><div class="nav-item">Payout</div></li>
						<% end %>
						<strong>Student Info</strong>						
						<li data-content='my-lessons'><div class="nav-item">My Lessons</div></li>
						<li data-content='my-teachers'><div class="nav-item">My Teachers</div></li>
						<li data-content='payment'><div class="nav-item">Payment</div></li>
						<li data-content='profile-settings'><div class="nav-item">Profile Settings</div></li>
					</ul>	
				</div>
			 	
			 	




			</div>
			<div id="dashboard-content" class="col-md-8">

				<div id="my-lessons" class="nav-item-content active">
					My Lessons
					<h4> Student Appointments </h4>
					<% @student_appointments.each do |s| %>
					<p>Student: <%= s.user.email %></p>
					<p>Teacher: <%= s.listing.user.email %></p>
					<% end %>
					<h4> Teacher Appointments </h4>
					<% @teacher_appointments.each do |t| %>
					<p>Student: <%= t.user.email %></p>
					<p>Teacher: <%= t.listing.user.email %></p>
					<% end %>
				</div>

				<div id="my-teachers" class="nav-item-content">
					My Teacher
					<% @my_teachers.each do |teacher| %>
					<p>First Name: <%= teacher.first_name %></p>
					<p>Email: <%= teacher.email %></p>
					<% end %>
				</div>

				<div id="my-students" class="nav-item-content">
					My Students
					<% @my_students.each do |student| %>
					<p>First Name: <%= student.first_name %></p>
					<p>Email: <%= student.email %></p>
					<% end %>
				</div>

				<div id="my-listings" class="nav-item-content">
					My Listings
					<% @listings.each do |listing| %>
					<p>Language: <%= listing.language.name %></p>
					<p>Description: <%= listing.description %></p>
					<p>Price: <%= listing.price %></p>
					<% end %>
				</div>

				<div id="payout" class="nav-item-content">
					Payout
				</div>

				<div id="payment" class="nav-item-content">
					Payment
				</div>

				<div id="profile-settings" class="nav-item-content">
					Profile Settings
					<%= image_tag @user.image %>
					<p>First Name: <%= @user.first_name %></p>
					<p>Last Name: <%= @user.last_name %></p>
					<p>Skype: <%= @user.skype %></p>
					<p>Location: <%= @user.location %></p>
					
				</div>




			</div>

		</div>

	</div>

	


</div>

