<div id="beta-home-page">

  <%= render "home_navbar" %>
  <div class="home-hero fullheight">
    <div class="home-hero-overlay">
      <div class="hero-content">
        <div class="hero-content-container">
          <h1 class="hero-title">İSTEDİĞİN KONUDA EĞİTMEN BUL</h1>     
          <h3 class="hero-subtitle">Aradığın eğitmene, lokal veya online olarak ulaşabilirsin, üstelik bütçeni aşmayacak şekilde</h3>  
        </div>
        <div class="beta-buttons">
          <button class="btn btn-beta-student">TOPLULUĞA KATIL</button>
          <button class="btn btn-beta-teacher">ÖĞRETMEK İÇİN BAŞVUR</button>  
        </div>  
      </div> 
    </div>
  </div>   

  <div id="howitworks">
      <h1 class="howitworks-header">Nasıl Çalışır?</h1>
      <div class="how-it-works-items row">
        <div class="col-md-4">
          <%= image_tag "search.svg", class: "howitworks-icon" %>
          <h2>1. Eğitmen ara</h2>
          <h3>İstediğin kriterlere göre filtreleyerek sana en uygun eğitmeni bul.</h3>
        </div>
        <div class="col-md-4">
          <%= image_tag "calendar-clock.svg", class: "howitworks-icon" %>
          <h2>2. Saat ve tarih belirle</h2>
          <h3>Eğitmenin zaman tablosundan ders almak istediğin zamanı seç</h3>
        </div>
        <div class="col-md-4">
          <%= image_tag "rocket.svg", class: "howitworks-icon" %>
          <h2>3. Öğrenmeye başla</h2>
          <h3>Online veya lokal olarak ders al</h3>
        </div>
      </div>
  </div>

  <div class="row home-get-started-section">
    <div class="col-md-6 search-tutor">
      <div class="text-protection-scrim">
        <div class="home-row-container">
          <h2>Lokal veya online olarak öğren</h2>
          <h3>En iyi eğitmenlerden ders al. Yakınındaki hocaları bul ya da evden online ders al. </h3>
          <button class="btn btn-home-search-tutor">TOPLULUĞA KATIL</button>
        </div>  
      </div>
    </div>
    <div class="col-md-6 apply-teach">
      <div class="text-protection-scrim">
        <div class="home-row-container">
          <h2>Eğitmen misin?</h2>
          <h3>Papirus'un senin gibi öğretmenlere ihtiyacı var. Papirus ile öğretmeye başla. İster evden ister lokal olarak ders vererek kazan.</h3>
          <button class="btn btn-home-apply-teach">ÖĞRETMEK İÇİN BAŞVUR</button>
        </div>      
      </div>
    </div>
  </div>
  


  <div id="testimonials" class="text-center">
    <div class="testimonials-items row">
      <div id="subscribe">
        <h1>Papirus cok yakinda aciliyor.</h1>
        <h2>Mail adresini birakarak topluluga katil ve gelismelerden haberdar ol!</h2>
      </div>

      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="email" class="form-control" id="subscribe-form">
        </div>
        <button type="submit" class="btn btn-default" id="subscribe-button">KATIL</button>
      </form>

    </div>
  </div>

  <div class="footer">
    <h1>Papirus'a katıl</h1>
    <div class="footer-buttons">
      <%= link_to "ÖĞRENMEYE BAŞLA", search_path, class: "btn btn-footer-start-learning" %>   
      <%= link_to "EĞİTMEN OL", teacher_path, class: "btn btn-footer-apply-teach" %>     
    </div>

    <div class="footer-links">
       <p class="copyright">© 2016 Papirus Ltd. Şti.</p>
    </div>
  </div>










  
</div>  <!-- home-page -->