<div class="container">
  <h1>Book Now</h1>
  <%= form_for [@listing, @appointment] do |f| %>
  <%= f.label :starts_at, "Select Start Time "%>
  <%= f.date_select :starts_at %>
  <%= f.time_select :starts_at, :ignore_date => true %>
  <br>

  <%= f.label :ends_at, "Select End Time "%>
  <%= f.date_select :ends_at %>
  <%= f.time_select :ends_at, :ignore_date => true %>
  <br>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
  <% end %>


  <div id='calendar'></div>
</div>
<script>
  $(document).ready(function() {

    // page is now ready, initialize the calendar...
    function renderCalendar() {
      $('#calendar').fullCalendar({
        defaultView: 'agendaWeek',
        contentHeight: 630,
        allDaySlot: false,
        slotDuration: '01:00:00',
        scrollTime: '00:00:00',
        events: {
          url: '/users/<%=@listing.user.id%>/timetable'
        },
        dayClick: function(date) {
          console.log('dayClick', date.format());
        }

      });
    }

    renderCalendar();
    //   var newEvent = new Object();

    // newEvent.title = "test";
    // newEvent.start = 'Mon Mar 28 2016 09:30:00 GMT+0300';
    // newEvent.end = 'Mon Mar 28 2016 10:30:00 GMT+0300';
    // $('#calendar').fullCalendar( 'renderEvent', newEvent );

  });
</script>

